
.box-avatar-principal {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 60% 20%;
    width: 100%;
    height: auto;
    grid-template-areas: "element_1 element_2 element_3";
    overflow: hidden;
}

.box-avatar-element {
    justify-self: center;
    align-self: center;
    grid-area: element_2;
    width: 8.3em !important;
    height: 8.3em !important;
}

.box-title-element-avatar {
    color: white;
    font-size: 5em !important;
}