
.box-img-account-header {
    align-self: center;
    justify-self: flex-end;
    display: grid;
    width: auto;
    height: auto;
    margin-right: 1.5em !important;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5em;
    overflow: hidden;
}


.box-avatar-style {
    height: 2.5em !important;
    width: 2.5em !important;
}

