body,html {
    margin: 0;
    padding: 0;
}

#root {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 100%;
    gap: 2em;
    margin: 0;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}