.box-login-element {
    display: grid;
    grid-auto-rows: minmax(18em, auto);
    gap: 0.5em;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 15em), 1fr));
    width: 100%;
    height: auto;
    background-color: transparent;
    /*box-shadow: 0 0 4px rgba(0, 0, 0, 0.219);*/
    overflow: hidden;
    z-index: 3;
}
  

.box-circle-element {
    justify-self: center;
    align-self: center;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 100%;
    gap: 0.5em;
    width: 90%;
    height: auto;
    /*background:  linear-gradient(120deg, rgb(245, 245, 247), rgba(91, 111, 202, 0.767));*/
    background-color: #3f51b5d5;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.219);
    padding: 0.9em 0.5em;
    border-radius: 1em;
    max-height: 100%;
    overflow: hidden;
}

.circle-element-acces {
    justify-self: center;
    align-self: center;
    display: grid !important;
    grid-auto-rows: auto !important;
    grid-template-columns: 100% !important;
    width: 14em;
    height: 14em;
    background: linear-gradient(90deg, rgb(233, 233, 238), rgb(136, 153, 228));
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.322);
    -moz-border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    border-radius: 50% !important;
    overflow: hidden;
}


.box-icon-login-acess {
    width: 100%;
    height: auto;
    justify-self: center;
    align-self: center;
    color: white !important;
    font-size: 5em !important;
}

.style-icon-title-acess {
    justify-self: center;
    align-self: flex-start;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.content-text-acess {
   padding: 0.5em 0.5em;
   font-weight: 600 !important;
}

.color_new_acess {
    color: #ffffff !important;
}