.box-header-login-element {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(auto-fit, minmax( min(100%, 7em), 1fr));
    grid-gap: 0.5em;
    background: linear-gradient(90deg, rgb(255, 255, 255), rgb(233, 228, 228));
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    max-height: 4.5em;
    padding: 0.5em 0.5em;
    overflow: hidden;
    z-index: 4;
}
.conteiner-textBox {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(auto-fit, minmax( min(100%, 7em), 1fr));
    grid-gap: 0.5em;
    background: linear-gradient(90deg, rgb(255, 255, 255), rgb(233, 228, 228));
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    position: relative;
    width: 100%;
    height: auto;
    max-height: 4.5em;
    padding: 0.5em 0.5em;
    overflow: hidden;
}
.textBox1{
    display: grid;
    grid-row: 2;
    grid-column: 1;
    
}
.textBox2{
    display: grid;
    grid-row: 2;
    grid-column: 2;
}