body,html {
    margin: 0;
    padding: 0;
}

#root {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 100%;
    gap: 2em;
    margin: 0;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}


/*quitar los botones del type number de los jtextfield*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }