


.box-personal-information-group {
   display: grid;
   grid-auto-rows: 30em;
   grid-template-columns: repeat(auto-fit, minmax( min(100%, 20em), 1fr));
   grid-gap: 0.5em;
   justify-items: center;
   align-items: center;
   width: 100%;
   height: auto;
   overflow: hidden;
}

.box-personal-group {
    display: grid;
    grid-template-rows: 40% 60%;
    grid-template-columns: 100%;
    border-radius: 0.4em;
    background-color: white;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 17em;
    height: 28em;
    overflow: hidden;
}

.box-personal-group-img {
    justify-self: center;
    align-self: center;
    width: 80%;
    height: 80%;
    overflow: hidden;
}

.img-group-personal {
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 90%;
}

.img-group-personal img {
    width: 100%;
}

.box-personal-group-info {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 100%;
    grid-gap: 0.5em;
    justify-items: center;
    align-items: center;
    border-style: solid;
    border-width: 0.5em;
    border-color: #b4b1b1;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
    height: auto;
    max-height: 100%;
    overflow: hidden;
    text-align: center;
}


.box-text-group-botton {
    width: 100%;
    height: auto;
}


.box-personal-group-info-title {    
    font-size: 1.8em !important;
    color: rgb(133, 131, 131);
    font-weight: 800 !important;
    text-align: center;
}

.box-personal-group-info-content {
    align-self: flex-start;
    font-size: 1.3em !important;
    color: rgb(133, 131, 131);
    font-weight: 400 !important;
    text-align: justify;
    padding: 0.5em 1.5em;
}

#descrision-grupo {
    align-self: flex-start;
}